:root {
	--darkmode-black: #0F0F10;
	--darkmode-gray-0: #191A1F;
	--darkmode-gray-1: #1B1C21;
	--darkmode-gray-2: #25262B;
	--darkmode-gray-3: #2E2F33;
	--darkmode-gray-4: #393A3F;
	--darkmode-gray-5: #5E5F62;
	--darkmode-gray-6: #9F9FA0;
	--darkmode-gray-7: #AAAAAD;
	--darkmode-gray-8: #BABABE;
	--darkmode-gray-9: #CCC;
	--darkmode-gray-10: #D3D3D5;
	--darkmode-gray-11: #E1E2E5;
	--darkmode-white: #F0F0F1;

	--darkmode-darkblue: #113959;
	--darkmode-blue-dark: #2D39C0;
	--darkmode-blue: #414FF1;
	--darkmode-purple-dark: #624C82;
	--darkmode-purple: #B388F5;
	--darkmode-pink-dark: #626;
	--darkmode-pink-dark-1: #7E2D7F;
	--darkmode-pink-medium: #A130A3;
	--darkmode-pink: #E150E3;
	--darkmode-pink-light: #EC66F3;
	--darkmode-pink-very-light: #f0a4f5;
	--darkmode-green: #63D7C6;
	--darkmode-yellow: #EDAB46;
	--darkmode-red: #B00020;
}

html, body {
	color: var(--darkmode-gray-6);
	background-color: var(--darkmode-gray-1);
}
.sidebar {
	color: var(--darkmode-gray-6);
	background-color: var(--darkmode-gray-2);
}

h1 { color: var(--darkmode-gray-6); }
h2 { color: var(--darkmode-gray-6); }
h3 { color: var(--darkmode-yellow); }
h4 { color: var(--darkmode-gray-6); }
h5 { color: var(--darkmode-gray-6); }

p, ul, pre, code { color: var(--darkmode-gray-6); }
pre code {
	border-color: var(--darkmode-gray-5);
}
code {
	color: var(--darkmode-gray-6);
	background-color: var(--darkmode-gray-3);
}
blockquote > * {
	background-color: var(--darkmode-gray-3);
}

.sidebar a { color: var(--darkmode-gray-6); }
.sidebar a:visited { color: var(--darkmode-gray-6); }
.sidebar a:active { color: var(--darkmode-gray-6); }
.sidebar a:hover { color: var(--darkmode-yellow); }
.body a { color: var(--darkmode-yellow); }
.body a:visited { color: var(--darkmode-yellow); }
.body a:active { color: var(--darkmode-yellow); }
.body a:hover { color: var(--darkmode-yellow); }

.caret:hover::before {
	color: var(--darkmode-yellow);
}
.sidebar .caret-down>a { color: var(--darkmode-yellow); }

.hljs-attr { color: var(--darkmode-yellow); }
.hljs-built_in { color: #8be; }
.hljs-title.class_ { color: #ad6; }
.hljs-number { color: #e85; }
.hljs-string { color: var(--darkmode-yellow); }
/*.hljs-property { color: #ad6; }*/
.hljs-keyword { color: #8be; }
.hljs-title.function_ { color: #ad6; }
.hljs-variable.constant_ { color: #8be; }
