html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

/* fonts */
body {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
}
pre, code, .sidebar ul {
	font-family: "PT Mono", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}
h1, h2, h3, h4, h5 { font-weight: 700; }
h1 { font-size: 2.5rem; line-height: 2.9rem; }
h2 { font-size: 2.1rem; line-height: 2.5rem; }
h3 { font-size: 1.7rem; line-height: 2.1rem; }
h4 { font-size: 1.3rem; line-height: 1.7rem; }
h5 { font-size: 1.0rem; line-height: 1.4rem; }
p, ul, ol, li, pre, code {
	font-size: 1rem;
}

/* general */
body {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: row;
}
/*ol { list-style: decimal; }*/
/*ul { list-style: disc; }*/
a { text-decoration: none; }
a:hover { text-decoration: underline; }
pre {
	white-space: pre-wrap;	
}
.body h3 {
	overflow-x: auto;
}
pre {
	overflow-x: auto;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
}
pre code {
	border: 1px solid;
	border-radius: 0.25rem;
}

code.language-text,
code.language-json {
	text-align: left;
	display: block;
}

.sidebar {
	flex: 1 0 auto;
	overflow-y: auto;
}
.body {
	flex: 2 1 auto;
	display: block;
	overflow-y: auto;
}

.sidebar ul img {
	width: 1rem;
	height: 1rem;
	vertical-align: text-bottom;
}

.caret {
	cursor: pointer;
	margin-left: -0.5rem;
}
.caret::before {
	content: "\25B6";
	font-size: 0.75rem;
	line-height: 0.75rem;
	display: inline-block;
	-webkit-transition: 0.0666s ease-out;
	-moz-transition: 0.0666s ease-out;
	-o-transition: 0.0666s ease-out;
	transition: 0.0666s ease-out;
}
.caret-down::before { transform: rotate(90deg); }
ul .nested { display: none; }
ul .active { display: block; }

/* margin, padding, line-height */

.body h1 { margin-top: 2.5rem; }
.body h2 { margin-top: 1.5rem; }
.body h3 { margin-top: 1.5rem; }
.body h4 { margin-top: 1.0rem; }

.body > * { margin: 0.5rem 1rem; }
@media (min-width: 1000px) { .body > * { margin: 0.5rem 4rem; } }
@media (min-width: 1400px) { .body > * { margin: 0.5rem 8rem; } }
@media (min-width: 1800px) { .body > * { margin: 0.5rem 12rem; } }
@media (min-width: 2200px) { .body > * { margin: 0.5rem 16rem; } }

p, li { line-height: 1.25rem; }
code { line-height: 2.5rem; }
code.language-text,
code.language-json {
	line-height: 1rem;
}
code { padding: 0.5rem; }

.sidebar { padding: 1rem; }
.sidebar ul { margin-left: 0.5rem; }
.sidebar ul#tree-start { margin-left: 0.75rem; }
.sidebar li a { margin-left: 0.5rem; }
.sidebar li { line-height: 1.5rem; }
.sidebar li img:first-of-type { margin-left: 0.25rem; }
